#main {
    background-image: url('https://wallpapercrafter.com/sizes/2560x1440/4119-texture-wall-brick-background-4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:180vh;
  }
  